* {
  font-family: monospace;
}

.everything {
  padding: 300px 0;
}

.todo {
  filter: invert(100%);
  opacity: 0.2;
  transition: opacity 0.5s;
  transition: transform .3s;
  text-align: center;
}

.todo:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.icons {
  display: flex;
  justify-content: center;
}

.giticon {
  margin: 25px;
  filter: invert(100%);
  opacity: 0.2;
  transition: opacity 0.5s;
  transition: transform .3s;
}

.giticon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.linkicon {
  margin: 25px;
  filter: invert(100%);
  opacity: 0.2;
  transition: opacity 0.5s;
  transition: transform .3s;
}

.linkicon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.twiticon {
  margin: 25px;
  filter: invert(100%);
  opacity: 0.2;
  transition: opacity 0.5s;
  transition: transform .3s;
}

.twiticon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
